body
{
font-family: arial;
background-color: blue;
margin:0;
}
header
{
background-color: red;
text-align: center;
padding:15px;
}
.content
{
background-color: orange;
margin:20px;
padding:15px;
border-radius: 5px;
}
h2
{
color: 003366;
}
footer
{
background-color: yellow;
text-align: center;
padding: 5px;
}